<div>
<p>Interested in joining the Ingolia lab?</p>
</div>

<div>
  <p>
    Post-doctoral applicants should email a CV to ingolia at berkeley
    dot edu.
  </p>
</div>

<div>
  <p>
    Graduate students join our lab through
    the <a href="http://mcb.berkeley.edu/grad/">MCB program</a>,
    the <a href="http://computationalbiology.berkeley.edu/">Computational Biology program</a>,
    and the <a href="http://biophysics.berkeley.edu">Biophysics program</a>.
  </p>
</div>

<div>
  <p>
    Undergraduates interested in research experience should contact ingolia at berkeley dot edu.
  </p>
</div>
