/* Person headers */
div.person-header {
  width: 100%;
  background: #d0d0e0;
  padding: .2em;
  margin: .2em 0 .2em 0;
}

.person-left {
/*  font-variant: small-caps; */
  font-size: large;
  margin: 0 0 0 0;
  float: left;
  width: 46%;
  padding: 0% 0% 0% 2%;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-decoration: none;
  text-align: left;
}

.person-right {
/*  font-variant: small-caps; */
  margin: 0 0 0 0;
  float: right;
  width: 46%;
  padding: 0% 2% 0% 0%;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-decoration: none;
  text-align: right;
}

.alum-left {
/*  font-variant: small-caps; */
  font-size: large;
  margin: 0 0 0 0;
  float: left;
  width: 28%;
  padding: 0% 0% 0% 2%;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-decoration: none;
  text-align: left;
}

.alum-middle {
/*  font-variant: small-caps; */
  margin: 0 0 0 0;
  float: left;
  width: 27%;
  padding: 0% 2% 0% 0%;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-decoration: none;
  text-align: left;
}

.alum-right {
/*  font-variant: small-caps; */
  margin: 0 0 0 0;
  float: right;
  width: 37%;
  padding: 0% 2% 0% 0%;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-decoration: none;
  text-align: right;
}
