---
layout: base
title: Ingolia Lab
---

<div id="header">
  <div style="float: left; width: 17.5rem; padding: 0rem;">
    <h1><a href="/index.html">The Ingolia Lab</a></h1>
    <h4><a href="http://mcb.berkeley.edu/">Molecular and Cell Biology</a></h4>
    <h4><a href="http://www.berkeley.edu">University of California, Berkeley</a></h4>
  </div>
  <div style="float: right; width: 17.5rem; padding: 0rem;">
    <img src="/images/banner.png">
  </div>
</div>

<div style="clear: both">
  {% include navbar.html %}
</div>

<p style="clear: both">
We study the translational control of gene expression in order to
learn how cells change the translation of specific genes and better
understand the role of this regulation in the cell. Our research makes
extensive use of genome-scale approaches and deep sequencing.
</p>

<div class="section-header">
Recent News
</div>

<ul>
  {% for item in site.data.news limit: 5%}
    <div>{{ item.date }} &mdash; {{ item.title }}
      <p>{{ item.content }}</p>
    </div>
  {% endfor %}
</ul>

<div><a href="news.html">see more here...</a></div>
